.graph {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 50%;
	vertical-align: top;
	overflow: hidden;
}

.graph > svg {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.series > path {
  fill: none;
  opacity: 0.3;
}

.series:hover > path {
	opacity: 1;
}

.axis path, 
.axis line,
.axis text {
	stroke: #fff;
	opacity: 0.5;	
}

.axis text {
	fill: #fff;
	font-weight: lighter;
	opacity: 0.5;	
}
