@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500i|Inconsolata');

body, html {
  padding: 0;
  margin: 0;
	font-family: Roboto;
  font-size: 0.9rem;
}

.root {
  display: flex;  
  flex-direction: row;
  height: 100vh;
}

.parameters {
  flex: 2;
}

.results {
  flex: 3;
  background: #222328;
  color: #eee;
}



/* Panes */

.pane {
}

.pane-title, .pane-subtitle {
	font-family: Inconsolata;
}
.pane-title {
  font-size: 1.2rem;
  padding: 1rem;
}
.pane-subtitle {
  padding: 0.5rem 0rem;
}

.pane-content {
  padding: 1rem;
  padding-top: 0;
}



/* Reactions */

.reactions {
  flex: 1;
}

.reaction-group {
  display: flex;
}

.reaction-group input {
  min-width: 2em;
  border: none;
  border-bottom: 1px solid #888;
  padding: 0.5rem 0rem;
}
.reaction-group label {
	font-family: Inconsolata;
  display: block;
  text-align: right;
}

.reaction-wrapper {
  display: flex;
}

.reaction {
  display: flex;
  flex: 1;
  align-items: flex-end;
  margin-right: 0.5rem;
}

.reaction-arrow {
  padding: 0.5rem 0.25rem;
}

.reaction input {
  flex: 1;
  word-spacing: 150%;
}

.gene {
  margin-right: 0.5rem;
}

.rate{
  display: flex;
  align-items: flex-end;
}

.rate input {
  width: 3rem;
}
