@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500i|Inconsolata');

body, html {
  padding: 0;
  margin: 0;
	font-family: Roboto;
  font-size: 0.9rem;
}

.root {
  display: flex;  
  flex-direction: row;
  height: 100vh;
}

.parameters {
  flex: 3;
  background: #F7F8F9;
}

.results {
  flex: 5;
  background: #222328;
  color: #eee;
}



/* Panes */

.pane {
  display: flex;
  flex-direction: column;
}
.pane header {
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.pane-title, .section-label {
	font-family: Inconsolata;
}
.pane-title {
  font-size: 1.2rem;
  padding: 1rem;

}
.pane-content {
  flex: 1;
  overflow: auto;
  padding: 1rem;
  padding-top: 0.5rem;
}

.section-label {
  padding: 0.5rem 0rem;
}
.section {
  margin-bottom: 1rem;
}
